In [31]:
def conversion(m, k):
    numToLetter = {
        1 : 'a',
        2 : 'b',
        3 : 'c', 
        4 : 'd',
        5 : 'e',
        6 : 'f', 
        7 : 'g',
        8 : 'h',
        9 : 'i',
        10 : 'j',
        11 : 'k',
        12 : 'l',
        13 : 'm',
        14 : 'n',
        15 : 'o',
        16 : 'p',
        17 : 'q',
        18 : 'r',
        19 : 's',
        20 : 't',
        21 : 'u',
        22 : 'v',
        23 : 'w',
        24 : 'x',
        25 : 'y',
        26 : 'z'
    }

    result = ""
    key = str(k)
    key = [int(digit) for digit in key]
    
    for i in range(len(m)):
        newNum = m[i] - key[i%len(key)]
        result += numToLetter[newNum]

    return result
    
print(conversion([14, 10, 22, 29, 6, 27, 19, 18, 6, 12, 8], 1939))
print(conversion([20, 12, 18, 30, 21], 1939))

masterpiece
scout